/* 
    Document   : default
    Created on : Sep 9, 2013, 10:47:45 AM
    Author     : Paul
    Description:
        Purpose of the stylesheet follows.
*/
body,div,h1{margin:0;padding:0;}
body{color:#333;margin:0;padding:0;}
h1{font-size:38px;font-weight:400;margin:0;padding: 8px;}
h2{color:#333;font-size:small;font-weight:400;margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
pre{background-color:#eee;border:1px solid #ddd;border-left-width:5px;color:#333;font-size:small;overflow-x:auto;padding:15px;}
pre.normal{background-color:transparent;border:none;border-left-width:0;overflow-x:auto;}
#logo{background:url(images/jq.png);display:block;float:right;height:31px;margin-right:10px;margin-top:10px;width:110px;}
#main{margin:0 20px 20px;padding:0 15px 15px 0;}
#content{padding:20px;}
#busy{background-color:#e95555;border:1px ridge #ccc;color:#eee;display:none;padding:3px;position:absolute;right:7px;top:7px;}
div#pname{
	border-bottom:1px solid rgb(218, 218, 218);
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
div#statscontainer{
	padding:6px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	display: block;
	min-height: 200px;
}
div#recentkills{
    display: block;
    padding: 4px;
    line-height: 20px;
/*    border: 1px solid rgb(221, 221, 221);*/
    border-radius: 6px 6px 6px 6px;
/*    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.055);*/
	width: 154px; height: 162px;
	cursor: default;
	float: left;
}
div#recentdeaths{
    display: block;
    padding: 4px;
    line-height: 20px;
/*    border: 1px solid rgb(221, 221, 221);*/
    border-radius: 6px 6px 6px 6px;
/*    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.055);*/
	width: 154px; height: 162px;
	cursor: default;
	float: left;
}
div#statsright{
	display: block;
	padding: 4px;
	float:left;
/*	border: 1px solid rgb(221, 221, 221);*/
	width: 154px; height: 154px;
	border-radius: 6px 6px 6px 6px;
}
a.pic{
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.055);
	width: 154px; height: 154px;
	cursor: default;
	float: left;
}
div#stats{
	float: left;
	display: block;
	padding: 7px;
	padding-left: 15px;
}
div#spacer{
	float: left;
	width: 10px;
	height: 10px;
}
table.stats tbody td{
	color: #3D3D3D;
	vertical-align: middle;
	font-size: 30px;
}
h2.statsright{
	font-size: 30px;
}
small.statsright{
	font-size: 17.5px;
	color: rgb(153, 153, 153);
}
small.recentkills{
	font-size: 10.5px;
	color: rgb(153, 153, 153);
	float: none;
	display: block;
}
img#victims{
	height: 36px;
	width: 36px;
	border-radius: 3px;
}
a.victim{
	padding: 1px;
	height: 36px;
	width: 36px;
	border-radius: 3px;
}
img#avatar{border-radius:6px;width: 154px; height: 154px;}
hr{height:1px;}
code{font-size:108%;font-style:normal;padding:0;}
a.external{background-image:url(../img/external.png);background-position:center right;background-repeat:no-repeat;padding-right:12px;}
a:link, a:visited {
    color: rgb(166, 16, 0);
    text-decoration: none;
}
form{font-size:10pt;margin-bottom:20px;width:auto;}
form fieldset{padding:10px;text-align:left;width:140px;}
div#main h1{border-bottom:1px solid #CDCDCD;display:block;margin-top:20px;padding:10px 0 2px;}
table#tablesorter {margin: 10px 0 0 0;}
table#options *{font-size:small;}
p.tip em {padding: 2px; background-color: #6cf; color: #FFF;}
p.tip.update em {background-color: #FF0000;}
div.digg {float: right;}